{% extends "layout.html" %}
{% block body %} 
<div class="content">
{% for todo in ToDo %}

<div class="post">
<p> ID: {{todo.id}} </p>
<p class="title">
    <a href="#">
    User:{{ todo.post.userName }}
    </a>
</p>
</b>
<p>{{ todo.message }} </p>
<p> Likes: {{ todo.likes }} </p>

<div class="center">
<form action="{{ url_for('delete', t_name = todo.message) }}"class="form1">
<button type="Delete"class="submit2">Delete Chirp</button> 
</form>

<form action="{{ url_for('like', id = todo.id) }}" class="form1">
<button type="Like" class="submit1">Like</button> </form>
<form action="{{ url_for('dislike', id = todo.id) }}" class="form1">
    <button type="Dislike" class="submit2">Dislike</button> </form>
<form action="{{ url_for('update', id = todo.id) }}"class="form1">
    <button type="Edit" class="submit3">Edit</button> </form>
</div></div>
{% endfor %}
</div>
{% endblock body%}